@page
@model Bakery.Pages.AboutModel
@{
    ViewData["Title"] = "About Us";
}
<section id="main">
    <h1>Немного о Bakery Brews</h1>
    <p>
        Основанная в 2024 году, Bakery Brews доставляет кофе и свежую выпечку прямо к дверям клиентов. 
        Изначально это предприятие сочетало в себе знания в области разработки программного обеспечения и страсть к выпечке, 
        удовлетворяя как технологические, так и кулинарные потребности. 
        Навыки основателя в создании исключительных пирожных, печенья и тортов вскоре затмили его технические способности. 
        То, что начиналось как хобби для удовлетворения личных вкусовых предпочтений, превратилось в полноценное занятие. 
        Bakery Brews выделяется не только восхитительным ассортиментом кофе и сладостей, но и инновационной системой онлайн-заказов. 
        Эта система гарантирует, что любой человек с доступом в интернет может легко заказать все натуральные, 
        местные кондитерские изделия и ожидать доставку в течение 24 часов.
    </p>
