@page
@model Bakery.Pages.OrderSuccessModel
@{
}
<ol id="orderProcess">
    <li><span class="step-number">1</span>Выбор товара</li>
    <li><span class="step-number">2</span>Детали и отправка</li>
    <li class="current"><span class="step-number">3</span>Квитанция</li>
</ol>
<h1>Подтверждение заказа</h1>
<div class="message order-success">
    <h2>Спасибо за ваш заказ!</h2>
    <p>Мы обрабатываем ваш заказ и отправили подтверждение на вашу электронную почту. Спасибо за ваш выбор и приятного времяпрепровождения!</p>
</div>
